<head>
  <title>MicroMensagens</title>
</head>
<body>
	<div class="container">
    <div class="col-md-12">
      <a href="{{ pathFor 'home' }}">Home</a>   
      <a href="{{ pathFor 'about' }}">Sobre</a> 
			<h1>MicroMensagens</h1>
		</div>
	</div>
</body>

<template name="formulario">
  <div class="container">
  	<div class="col-md-12">
  		<div class="formulario">
  		  <form action="" id="tweet">
  		  	<input type="text" id="nome" name="nome" placeholder="Nome" class="form-control"><br>
  		  	<input id="conteudo" name="conteudo" placeholder="Mensagem" maxlength="140" class="form-control"><br>
  		  	<button id="enviar" type="submit" class="btn btn-success">Enviar</button>
  		  </form>
  		</div>
  	</div>
  </div>
</template>

<template name="mensagens">
{{> formulario}}
  <div class="container">
  	<div class="col-md-12">
  		<div class="timeline">
  		  <h2>Timeline</h2>
  		  {{#each timeline}}
  		    <article>
  		    	<p class="mensagem">
  		    	  <a href="{{ pathFor 'mensagensShow' }}"><strong>{{conteudo}}</strong></a>
  		    	  <br>
  		    	  <small><strong>{{nome}}</strong></small><br>
              <small>{{data}}</small>
  		    	</p>
  		    </article>
  		  {{else}}
  		    <p class="info">
  		      <small>Nenhuma mensagem publicada.</small>
  		    </p>
  		  {{/each}}
  		</div>
  	</div>
  </div>
</template>


<template name="postsShow">
  <div class="container">
  	<div class="col-md-12">
  		<h2>{{conteudo}}</h2>
  		<small>{{nome}} {{data}}</small>
  	</div>
  </div>
  <br>
  {{> formulario}}

  <div class="container">
  	<div class="col-md-12">
		<h3>Respostas</h3>
			{{#with tweet}}
  		    {{#each this.retweets}}
  		  	<p class="mensagem">
  		    	{{conteudo}}
  		    	<br>
  		    	<small>{{nome}}</small><br>
            <small>{{data}}</small>
  		  	</p>
  		  	{{else}}
	  		  <p class="info">
	  		    <small>Nenhuma resposta publicada ainda.</small>
	  		  </p>
  		    {{/each}}
  		{{/with}}
  	</div>
  </div>
</template>