<template name="Header">
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'home'}}">MicroMensagens</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{pathFor 'sobre'}}">Sobre</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{> loginButtons }} <!-- here -->
        </ul>
    </div>
</nav>
</template>