<template name="FormMessage">
  <div class="container">
  	<div class="col-md-12">
  		<div class="formulario">
  		  <form action="" id="tweet">
  		  	<!-- <input type="text" id="nome" name="nome" placeholder="Nome" class="form-control"><br> -->
  		  	<input id="conteudo" name="conteudo" placeholder="Mensagem" maxlength="140" class="form-control"><br>
  		  	<button id="enviar" type="submit" class="btn btn-success">Enviar</button>
  		  </form>
  		</div>
  	</div>
  </div>
</template>