<template name="Messages">
{{> FormMessage}}
  <div class="container">
  	<div class="col-md-12">
  		<div class="timeline">
  		  <h2>Timeline</h2>
  		  {{#each timeline}}
  		    <article>
  		    	<p class="mensagem">
  		    	  <a href="{{ pathFor 'mensagensShow' }}"><strong>{{conteudo}}</strong></a>
  		    	  <br>
  		    	  <small><strong>{{nome}}</strong></small><br>
              <small>{{data}}</small>
  		    	</p>
  		    </article>
  		  {{else}}
  		    <p class="info">
  		      <small>Nenhuma mensagem publicada.</small>
  		    </p>
  		  {{/each}}
  		</div>
  	</div>
  </div>
</template>