<template name="Responses">
  <div class="container">
  	<div class="col-md-12">
  		<h2>{{conteudo}}</h2>
  		<small>{{nome}} {{data}}</small>
  	</div>
  </div>
  <br>
  {{> FormMessage}}

  <div class="container">
  	<div class="col-md-12">
		<h3>Respostas</h3>
			{{#with tweet}}
  		    {{#each this.retweets}}
  		  	<p class="mensagem">
  		    	{{conteudo}}
  		    	<br>
  		    	<small>{{nome}}</small><br>
            <small>{{data}}</small>
  		  	</p>
  		  	{{else}}
	  		  <p class="info">
	  		    <small>Nenhuma resposta publicada ainda.</small>
	  		  </p>
  		    {{/each}}
  		{{/with}}
  	</div>
  </div>
</template>